# Add files here to ignore them from prettier formatting


.browserslistrc
.coveragerc
.dockerignore
.DS_Store
.editorconfig
.env*
.gitignore
.gitkeep
.nvmrc
.prettierignore
.trivyignore
*.cfg
*.jpg
*.log
*.py*
*.sh
*.sql
*.toml
*.tour
*.tpl
*.txt
/.devcontainer/**/*.yml
/.devcontainer/**/*.yaml
/.devcontainer/**/*.md
/.github/workflows/*.yml
/.github/workflows/matchers/*.json
/charts/*/files/*.y?ml
/charts/*/templates/*.y?ml
/charts/*/README.md
/.husky
/.storage/**
/build
/coverage
/dist
/LICENSE
/local-*
/MANIFEST.in
/migrate
/migrations/**
/shell/**
/start
/test
/tests/**
/tmp/**
Caddyfile
cypress**
Dockerfile
favicon.ico
yarn.lock
