include LICENSE

recursive-include tests *
prune tests/__pycache__
prune tests/.pytest_cache

recursive-include shell *
prune shell/__pycache__
prune shell/.pytest_cache

global-exclude *.pyc
global-exclude *.log
global-exclude .coverage
