pynacl==1.5.0
paramiko==2.10.1
tornado==5.1.1; python_version < '3.5'
tornado==6.0.4; python_version >= '3.5'
pycased
requests
pypubsub
PyJWT==2.6.0
pyjwt[crypto]==2.6.0
jinja2
boto3==1.18.44
localStoragePy
# https://github.com/PyGithub/PyGithub/pull/1986
git+https://github.com/coveord/PyGitHub@3ba6e765e96c2e59643a88bc35d4ec27f7785ad6#egg=PyGitHub
protobuf==3.18.3
googleapis-common-protos==1.56.0
google-cloud-storage==2.1.0
google-api-core==2.8.0
sqlalchemy==1.4.36
psycopg2==2.9.3
sqlalchemy_mixins==1.5.3
sqlalchemy-state-machine==1.8.0
geocoder==1.38.1
pycryptodome==3.14.1
coverage==6.4.2
pyyaml==5.4
hvac==0.11.2
black==22.8.0
pylint==2.15.3
pylint_junit==0.3.2
yamale==4.0.0
yamllint==1.26.3
psutil==5.9.4
dnspython==2.2.1
pkce==1.0.3
camel-converter==3.0.0
pytest-tornado==0.8.1
passlib==1.7.4
