// @TODO Share this container logic with the inspector panel via a Storybook component
.node-panel {
  @apply top-14;

  // Needed to clear space from the top of the panel or overflow will happen on the screen
  // Without this buttons and bottom content will be cutoff
  position: fixed;
  left: 0;
  width: 300px;
  height: calc(100% - 56px);
  background: #fff;
  z-index: 999;
  overflow-y: scroll;

  &__section {
    padding: 20px;
  }
}
